@import "../../styles/variables.scss";

.label {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 5px;
}

.field {
	width: 600px;
	border-radius: 5px;
	margin-bottom: 65px;
	box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);

	div {
		border-radius: inherit;
		height: 50px;
		padding: 0;

		div {
			padding: 0 20px;
			margin: 0;
		}

		input {
			padding: 0;
			margin-right: 14px;
		}
	}
}
